@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}
.header{
    background: #161616;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.menu > li > a{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
transition: .1s;
}
.menu {
    display: flex;
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu > li {
    margin-right: 20px;
}
.inner-header{
    max-width: 1370px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;

}
.btn{
    
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #161616;
width: 214px;
height: 50px;

background: #FFFFFF;
box-shadow: 0px 8px 20px rgba(255, 196, 11, 0.18);
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
transition: .1s;
}
.btn:hover{
    background: #FFC40B;
color: white;
}
.call-settings{
    display: flex;
    align-items: center;
}
.number-text > p:first-child{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #A3A3A3;

}
.number-text{
    margin-left: 30px;

}
.menu > li > a:hover{
    color: #A3A3A3;

}
.number,.number a{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
    margin-top: 10px;
    text-align: right;
}

.logo > img{
    width: 241px;
}
.mob{
    display: none;
}
.mob-menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.mob-menu > li > a{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}
.mob-menu > li{
    margin-bottom: 25px;
}
.mob-menu > li > a:hover{
    color: #FECC2D;

}
.mob-content{
    position: absolute;
    top: 109px;
    z-index: 999;
    background: #161616;
    padding: 20px 0;
    display: none;
    max-width: 430px;
    width: 100%;
    right: 0;

}

@media (max-width:1400px){
   .inner-header{
    margin: auto 15px;

   }
}
@media (max-width:1200px){
    .logo > img{
        width: 211px;
    }
    .btn{
        width: 155px;

    }
}
@media (max-width:1000px){
 
    .menu-content{
        display: none;
    }
    .menu > li {
        margin-right: 0px;
    }
    .call-settings{
        display: none;
    }
    .mob{
        display: flex;
        align-items: center;
    }
    .burger{
        cursor: pointer;
    }
    .tel-call{
        margin-right: 30px;

    }
    .call-settings-mob{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        display: flex !important;
        margin-top: 50px;
    }
    .number-text {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .number-text > .number{
        text-align: center;

    }
}
@media (max-width:400px){
    .tel-call {
        margin-right: 10px;
    }
 
 
}
.main{
    background:linear-gradient(90.26deg, rgba(0, 3, 12, 0.72) 35.39%, rgba(1, 12, 39, 0) 99.7%), url(../image/cover.png)  no-repeat ;
    background-size: cover;
    width: 100%;
    margin: auto;
    background-position: center;
    position: relative;
    top: 120px;
}
.main-text > h1{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 70px;
line-height: 85px;

color: #FFFFFF;
}
.main-text{
    max-width: 628px;

}
.main-container{
    max-width: 1370px;
    margin: auto;
    padding-top: 94px;
    display: flex;
  position: relative;
}
.main-text > p{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 131.42%;
color: #FFFFFF;
margin-top: 20px;
padding-bottom: 63px;
}
.data > .nb{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    
    color: #FFFFFF;
    text-align: center;
}
.data-number{
    max-width: 631px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 63px;

}
.data{
    max-width: 164px;
    margin: auto;
}
.data> p{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 131.42%;
/* identical to box height, or 16px */
text-align: center;


color: #FFFFFF;
}
.main-phone{
    height: 730px;
    background-image: url(../image/phone.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 75px;
    top: 50px;
    background-position: center;
    max-width: 350px;
    width: 100%;
}

.elipse{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #FECC2D;
    margin: auto;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 17px;

color: #353535;
display: flex;
align-items: center;
justify-content: center;
}
.phone{
    max-width: 285px;
    margin: auto;
    margin-top: 50px;

}
.title-form{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;

color: #353535;
text-align: center;
margin-top: 10px;
margin-bottom: 25px;
}
.form-item > p{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #353535;
margin-bottom: 15px;
}
.picker{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: url(../image/play.png) no-repeat right;
    -webkit-appearance: none;
    height: 20px;
    
    color: #828282;
    border: none;
    width: 100%;
    outline: none;
}
/* }
.form-item > select{
    
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
background: url(../image/play.png) no-repeat right;
-webkit-appearance: none;
height: 20px;

color: #828282;
border: none;
width: 100%;
outline: none;
} */
.form-item{
    border-bottom: 2px solid #A3A3A3;
padding-bottom: 10px;
margin-bottom: 15px;
}
.btn-item > p{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 132.02%;
/* or 16px */

text-align: center;

color: #828282;
}
.yell{
    background-color: #FECC2D;
    color: white;
    border: none;
    margin: 15px auto;
    cursor: pointer;
}
.yell:hover{
    background: #FFE184;
    color: #353535;
}
.tellbtn:hover{
    background: #FFE184;
    color: #353535;
}
.btn-item {
    margin-top: 190px;

}
.btn-item.small-btn{
    margin-top: 110px;
}
#step2box .small-btn{
    margin-top: 21px;
}
.beetween .race-item{
    display: none;
}
.beetween #step2box .small-btn {
    margin-top: 100px;
}
@media (max-width:1400px){
    .main-container{
        margin: auto 13px;

    }
}
@media (max-width:1200px){
    .main-phone{
        right: 0px;

    }
}

@media (max-width:1000px){
    .main-phone{
        position: unset;
    }
    .main-text > h1{
        font-size: 50px;
    }
    .data-number{
        flex-wrap: wrap;

    }
    .main{
        top: 100px;

    }
}

@media (max-width:800px){
   .main-container{
       flex-direction: column;
       align-items: center;
       padding-top: 30px;

   }
}


@media (max-width:600px){
    .main-text > h1{
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        
        color: #FFFFFF;
        }
        .data > .nb{
            font-size: 30px;
        }
        .main-text > p{
            padding-bottom: 25px;
            text-align: center;

        }
 }
 .phone{
     height: 592px;
     overflow: hidden;
 }

 .first-step{
     display: block;
 }
 [data-anim="show-from--right"]{
   
    display: block;

  }
  [data-anim="show-from--left"]{

    display: block;

  }
  [data-anim="hide-to--right"]{
   
    display: none;

  }
  [data-anim="hide-to--left"]{

    display: none;

  }

  .form-item > input{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;    
    color: #828282;
    height: 20px;
    width: 97%;
    border: none;
    outline: none;
  }
  .form-data{
      display: flex;
      align-items: center;
        justify-content: space-between;
    
    }
    .form-data > input{
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;    
        color: #828282;
        height: 20px;
        width: 45%;
        border: none;
        outline: none;
    }
.mntext{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 132.02%;
/* identical to box height, or 16px */


color: #353535;
}
.nextbtn{
    margin-top: 25px;

}
.outline{
    margin: auto;
    margin-top: 4px;
    background: transparent;
    border-color: #fecc2d;
    border: 2px solid #fecc2d;
    color: #fecc2d;
    height: 40px;

}
.btn-back{
    cursor: pointer;
}
.circle{
    width: 20px;
height: 20px;
border-radius:50%;
display: block;
border: 2px solid black;
margin-left: 8px;
}
.mntext{
    display: flex;
    align-items: center;
}
.btntop{
    margin-top: 77px;
}
#step3box{
    overflow-y: auto;
    height: 568px;
}

.pc-element{
    height: 20px !important;
    padding: 0px 24px 0px 0px !important;
}



.section-box{
    max-width: 1150px;
    margin: auto;
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
}
.section-text{
    display: flex;
    align-items: baseline;
}
.section-text > h2{
    
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 61px;
color: #353535;
margin-right: 30px;
}
.section-text > p{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #828282;
}
.sections{
    max-width: 1370px;
    margin: 65px auto;
    margin-top: 210px;

}
.box-number{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 200px;
line-height: 242px;
/* identical to box height */

position: absolute;
    z-index: -1;
    left: -90px;

    color: #19446A;
    text-shadow: 2px 11px 0px #e6eff8;

}

.box-item{
    display: flex;
    position: relative;
    max-width: 370px;
    margin-bottom: 51px;

}
.box{
    background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
border-radius: 10px;
padding: 19px;
width: 240px;

height: 180px;
    overflow: hidden;
}
.box-title{
    display: flex;
    align-items: center;
}
.box-title > img {
    width: 40px;
    margin-right: 15px;
}
.box-title > h6{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 19px;

color: #353535;
}
.box > p{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;

color: #828282;
margin-top: 10px;
}
.box-numb-1{
    left: -70px;

}
@media (max-width:1400px){
    .sections{
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media (max-width:1300px){
   .section-box{
    justify-content: space-around;

   }
}
@media (max-width:1150px){
  .box-item{
      max-width: 233px;
  }
 }
 @media (max-width: 900px){
     .section-box{
        flex-direction: column;
        align-items: center;
     }
     .section-text > h2{
        font-size: 30px;
        margin: auto;
     }
     .section-text > p{
        text-align: center;

     }
     .section-text {
        display: flex;
        align-items: center;
    }
 }
 @media (max-width:600px){
     .section-text{
        flex-direction: column;
        align-items: center;
     }
 }
 @media (max-width:400px){
     .box-number{
        font-size: 155px;
        line-height: 242px;
        position: absolute;
        z-index: -1;
        left: -50px;
     }
 }
 .tarif-container > h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    color: #353535;
    text-align: center;
 }
 .tarif-container > p{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #828282;
    text-align: center;    
 }
 .tarif-container{
     max-width: 1370px;
     margin: auto;
 }
 .table > thead{
    background: #151515;

 }
 .table th{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    padding: 31px 25px;

    text-align: left;

    color: #FFFFFF;
 }
 .table{
     border-collapse: collapse;
     max-width: 1170px;
     margin:50px auto;
    width:100%;
 }
.table-conatiner{
    overflow-x: auto;
}
 .table td{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;    
    color: #151515;
    padding: 21px 25px;

 }  
 .table > tbody >  tr{
    background: #F7F7F7;

 }
 .table > tbody tr:nth-child(2n){
     background-color: white;
 }
 .table-btn{
    display: flex;
    justify-content: center;
 }
 .table-btn > a{
     background-color: #fecc2d;
     color: white;
 }
 @media (max-width:600px){
    .tarif-container > h2{
        font-size: 30px;
    }
    .sections{
        margin: 30px auto;
        margin-top: 170px;

    }
 }
 .tax-classes{
    background: #161616;
    padding: 10px 0;
    margin: 30px 0;
 }
 .inner-classes{
     margin: 80px auto;
 }
 .inner-classes > h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 115.2%;    
    text-align: center;
    color: #FFFFFF;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
 }
.txt-class > p{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 115.42%;
/* or 14px */


color: #FFFFFF;
margin-bottom: 20px;
display: flex;
}
.txt-class> p > span{
    
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
margin-right: 21px;
}
.txt-class{
    max-width: 1020px;
    margin: auto;
}
@media (max-width:1100px){
    .inner-classes {
        margin: 80px 20px;
    }
}
@media (max-width:600px){
    .inner-classes > h2{
        font-size: 25px;

    }
}
.cars-box{
    width: 230px;
height: 270px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
border-radius: 10px;
padding: 15px 0;
margin: auto;

}
.cars-box > h5{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 19px;

color: #353535;
margin-bottom: 10px;
text-align: center;
margin-top: 10px;

}


.car-img{
    width: 230px;
    height: 190px;
}
.car-img > img{
    width: 100%;
    height: 100%;
}
.cars-box > h6{
    text-align: center;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #353535;
margin-bottom: 10px;
}
.cars-box > p{
    
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 115.2%;
/* or 14px */

text-align: center;

color: #828282;
width: 200px;
margin: auto;
}

.myslider{
    margin: 80px auto;
    padding-bottom: 50px;
    padding-top: 10px;
    max-width: 1270px;

}
.swiper-pagination-total{
    
font-family: Inter;
font-style: normal;
font-size: 16px;
line-height: 19px;
}

.swiper-pagination-current{
    font-weight: 900;
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.pagination{
    display: none;
    align-items: center;
    justify-content: space-between;
    max-width: 140px;
    margin: 0px auto;
    margin-top: 30px;

}
.number-page{
    display: none;
}
@media (max-width:1000px){
    .number-page{
        display: block;
        bottom: 60px !important;
        z-index: -1;

    }
    .pagination{
        display: flex;
    }
}
.queestions-container{
    background: linear-gradient(90.26deg, rgba(0, 3, 12, 0.72) 35.39%, rgba(0, 3, 12, 0.8)), url(../image/back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.quest > h2{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 61px;
text-align: center;
color: #FFFFFF;
padding-top: 60px;
}
.quest > p {
text-align: center;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #A3A3A3;
margin-top: 8px;
}
.quest-item{
    border-bottom: 2px solid #D2D2D2;
    max-width: 270px;
    width: 100%;

}
.quest-item > input{
    font-family: Inter;
    height: 50px;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #A3A3A3;
border: none;
outline: none;
width: 100%;
background-color: transparent;
}
.div-quest{
    max-width: 850px;
    margin: auto;
    padding-bottom: 70px;
    padding-top: 70px;

}
.form-quest{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tellbtn{
    background-color: #fecc2d;
    cursor: pointer;
    color: white;
    border: none;
}
@media (max-width:1000px){
    .div-quest{
        margin: 0 12px;
    }
}
@media (max-width:760px){
   .form-quest{
       flex-direction: column;
       align-items: center;
   }
   .quest-item{
    margin-bottom: 50px;

   }
}
@media (max-width:600px){
    .quest > h2{
        font-size: 30px;
    }
}
.rev-inner > h2{

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    
    color: #353535;
    max-width: 416px;
}
.rev-inner > p{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120.7%;
color: #828282;

}
.reviews-container{
    max-width: 1380px;
    margin: 80px auto;
}
.revs-item{
    background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
border-radius: 10px;
max-width: 352px;
padding: 30px 25px;
max-width: 302px;
margin: auto;

}
.hd-name{
    display: flex;
    align-items: center;
}
.names > h5{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    
    color: #272727;
}
.names > h6{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #272727;

}
.hd-name > img{
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.revs-item > p{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 115.2%;
/* or 14px */


color: #828282;
margin-top: 15px;
}
.reviews-box{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.rev-inner{
    width: 100%;
    max-width: 724px;
    position: relative;
}
.reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.revs-image{
    max-width: 590px;
}
.revs-image > img{
    width: 100%;
}
.myrewies{
    padding: 10px 2px;
    margin-top: 20px;

}
.next,.prev{
    width: 30px;
    height: 30px;
    background-color: #FECC2D;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: '' !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}
.rev-controls{
    width: 110px;
    position: absolute;
    right: 0;
    top: 130px;

}
@media (max-width:1400px){
    .revs-content{
        margin: 0 15px;

    }
}
@media (max-width:1100px){
  .reviews-box{
      flex-direction: column;
      align-items: start;
  }
  .revs-item{
    margin-bottom: 20px;

  }
  
  .rev-inner {
    width: 100%;
    max-width: 430px;
    position: relative;
}
}
@media (max-width:767px){
    .reviews{
        flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .rev-controls{
        width: 110px;
        position: absolute;
        right: 38%;
        bottom: -25px;
        top: unset;
    }
}
@media (max-width:600px){
    .rev-inner > h2{
        font-size: 30px;
    text-align: center;
    }
    .rev-inner > p{
        text-align: center;
    }
    .reviews-container {
        margin: 40px auto;
    }
}
@media (max-width:400px){
    .revs-item{
        box-shadow: 0px 3px 10px rgb(0 0 0 / 15%);
    }
    .rev-controls{
        right: 32%;
        bottom: -10px;

    }
}
/* faq */

.faq {
	display: block;
    max-width: 770px;
    margin: auto;
	margin-bottom: 80px
}


@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform:translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform:translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}



.faq__wrap {
	width: 100%;
	
    margin: 50px auto;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap
}

.faq__item {

	display: flex;

	flex-flow: column nowrap
}

.faq__item:not(:last-child) {
	margin-bottom: 10px
}

.faq__btn {
	padding: 20px 30px;

	display: flex;
	cursor: pointer;
	flex-flow: row nowrap;

	justify-content: space-between;
	border: 2px solid #fff;
	border-radius: 5px;
	font-weight: 700;
	font-size: 16px;
	line-height: 115.2%;
	color: #272727;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}






.faq__btn span {
	text-align: left;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin-right: 30px
}




.faq__btn svg {

	flex: 0 0 20px;
	width: 20px;
	height: 20px
}

.faq__btn line {
	-webkit-transition: opacity.3s;
	-o-transition: opacity.3s;
	transition: opacity.3s
}

.faq__item--opened.faq__btn line:nth-child(2) {
	opacity: 0;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s
}

.faq__subblock {
	display: none;
	padding: 15px 30px;
	font-weight: 500px;
	font-size: 14px;
	line-height: 115.2%;
	color: #fff;
	border-bottom: 2px solid #fff
}

.faq__item--opened{

	display: flex;

    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 115.2%;
/* or 16px */


color: #828282;

    background: #F6F6F6;
border-radius: 0px 0px 10px 10px;
-webkit-animation:  fadeInUp .3s;
animation:  fadeInUp  .3s;
}
.faq__btn{
    background-color: transparent;
    border: none;
}
.faq__wrap > .faq__item:nth-child(2n) {
    background: white !important;

}
.faq__wrap > .faq__item:first-child{
    border-radius: 10px 10px 0px 0px;
}
.faq__wrap > .faq__item:last-child{
    border-radius: 0px 0px 10px 10px;
}
.faq__item{
    background: #F6F6F6;

}
.faq > p{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #828282;
text-align: center;
}
.faq > h2{
    
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;

color: #353535;
text-align: center;
margin-bottom: 10px;
}
@media (max-width:800px){
    .faq{
        margin: auto 15px;
    }
    .faq > h2{
        font-size: 30px;
    }
}
@media (max-width:400px){
    .faq__btn{
        font-size: 12px;
        padding: 16px 15px;
    }
    .faq__subblock{
        padding: 15px;
        font-size: 12px;
    }
}
.fntax{
    margin-bottom: 0;
}
.footer{
    background: #0E2B45;
    padding: 50px 10px;
}
.inner-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1370px;
    margin: auto;
}
.logo-footer{
    max-width: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer > p{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 115.2%;
/* identical to box height, or 14px */

text-align: center;

color: #A3A3A3;
}
.info-footer{
    display: flex;
}
.inft > p{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 115.2%;
/* or 14px */


color: #A3A3A3;
margin-bottom: 8px;
}
.inft > a{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;

}
.inft{
    width: 158px;
    margin-right: 20px;
}
@media (max-width:1100px){
    .logo-footer{
        max-width: 160px;
    }
    .logo-footer > img{
        width: 160px;

    }
}
@media (max-width:1000px){
    .inner-footer{
        flex-direction: column;
    }
    .footer-li{
        margin-bottom: 20px;

    }
    .logo-footer{
        margin: 20px 0;

    }
    .info-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .inft{
        margin-right: 0;
        margin-bottom: 20px;
        width: unset;
    }
    .inft > a{
        text-align: center;
    display: block;
    }
    .menu{
        flex-direction: column;

    }
    .logo-footer > p{
        margin-top: 20px;
    }
}



.picker .pc-element:hover, .picker .pc-trigger:hover {
    background-color: white !important;
    color: #828282 !important;

}
.picker .pc-element, .picker .pc-trigger{
    border: none;
    width: 130% !important;

}
.pc-list{
    width: 169% !important;
    border: none !important;

}
.form-item > select{
    opacity: 0;
}
.picker .pc-select .pc-list input[type=search] {
    width: 100%;
    outline: 0;
    color: #666;
    border: none;
    position: relative;
    background-color: #DDD;
    border-bottom: 2px solid #666;
    padding-left: 8px;
    height: 30px;
    border: none !important;

}
.picker .pc-select {
    position: relative;
    display: inline-block;
    min-width: 165px;
    max-width: 175px !important;
}
.picker .pc-select .pc-list li {
    display: block;
    list-style: none;
    padding: 14px 4px 10px 8px !important;
    cursor: pointer;
    color: #666;
    word-wrap: break-word;
}
.picker .pc-select .pc-list ul{
    border: 1px solid #666;
}
.round {
    position: relative;
    top: -8px;

  }
  
  .round label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    border: 2px solid black;
    margin-left: 8px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #FECC2D;
    border: 2px solid black;

  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .more-info{
      display: none;
  }
  .fm-4{
      display: none;
  }
  .vbn{
      margin-bottom: 80px;
  }
  @media (max-width:500px){
    
      .myslider{
          margin-bottom: 0;
      }
  }
 
  

  .modal{
    max-width: 260px !important;
}
  .tax-content-box{
      max-width: 260px;
      background: #FFFFFF;
border-radius: 10px;
padding: 20px;
margin: auto;
  }
  .tax-content-box > h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    
    text-align: center;
    
    color: #353535;
  }
  .tax-content-box > p{
      
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 120.7%;
/* or 14px */
    margin-bottom: 20px;
text-align: center;

color: #828282;
margin-top: 20px;

  }
  

  
.fm-item{
    border-bottom: 2px solid #D2D2D2;

}
.boxcont-2{
    display: none;
}
.table > tbody{
    max-height: 413px;
    overflow-y: auto;
    height: 100%;
    display: block
}
td{
    width: 10%;

}
tr > td:first-child{
    width: 20%;

}
tr > th:first-child {
    width: 20%;

}
th{
    width: 12%;

}
tr{
    display: flex;
    justify-content: space-between;
}
thead{
    position: sticky;
    top: 0;
}

.boxss {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
    z-index: 99999999;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 999999;

  }
  
  .popup {
    margin: 150px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .boxss{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  .close-modal{
    visibility: hidden;
    opacity: 0;
  }
  .call-settings > a:hover{
    background-color: #999999;
    color: white;
  }
.footer__addr{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 115.2%;    
    color: #A3A3A3;
    margin-bottom: 8px;
    min-width: 200px;
    text-align: center;
}
  #step3box::-webkit-scrollbar, .table > tbody::-webkit-scrollbar{
    width: 5px;
}
#step3box::-webkit-scrollbar-track-piece ,.table > tbody::-webkit-scrollbar-track-piece {
    background: #eee;
}
#step3box::-webkit-scrollbar-thumb ,.table > tbody::-webkit-scrollbar-thumb {
    background: #888;

}​
