@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}
.header{
    background: #161616;
    position: relative;

}
.menu > li > a{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
transition: .1s;
}
.menu {
    display: flex;
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu > li {
    margin-right: 20px;
}
.inner-header{
    max-width: 1370px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;

}
.btn{
    
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #161616;
width: 214px;
height: 50px;

background: #FFFFFF;
box-shadow: 0px 8px 20px rgba(255, 196, 11, 0.18);
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
transition: .1s;
}
.btn:hover{
    background: #FFC40B;
color: white;
}
.call-settings{
    display: flex;
    align-items: center;
}
.number-text > p:first-child{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #A3A3A3;

}
.number-text{
    margin-left: 30px;

}
.menu > li > a:hover{
    color: #A3A3A3;

}
.number{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
    margin-top: 10px;
    text-align: right;
}
.logo > img{
    width: 241px;
}
.mob{
    display: none;
}
.mob-menu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.mob-menu > li > a{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}
.mob-menu > li{
    margin-bottom: 25px;
}
.mob-menu > li > a:hover{
    color: #FECC2D;

}
.mob-content{
    position: absolute;
    top: 109px;
    z-index: 999;
    background: #161616;
    padding: 20px 0;
    display: none;
    max-width: 430px;
    width: 100%;
    right: 0;

}

@media (max-width:1400px){
    .header{
        padding: 0 15px;
    }
}
@media (max-width:1200px){
    .logo > img{
        width: 211px;
    }
    .btn{
        width: 155px;

    }
}
@media (max-width:1000px){
    .menu-content{
        display: none;
    }
    .menu > li {
        margin-right: 0px;
    }
    .call-settings{
        display: none;
    }
    .mob{
        display: flex;
        align-items: center;
    }
    .burger{
        cursor: pointer;
    }
    .tel-call{
        margin-right: 30px;

    }
    .call-settings-mob{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        display: flex !important;
        margin-top: 50px;
    }
    .number-text {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .number-text > .number{
        text-align: center;

    }
}
@media (max-width:400px){
    .tel-call {
        margin-right: 10px;
    }
 
 
}
.main{
    background:linear-gradient(90.26deg, rgba(0, 3, 12, 0.72) 35.39%, rgba(1, 12, 39, 0) 99.7%), url(../image/cover.png)  no-repeat ;
    background-size: cover;
    width: 100%;
    margin: auto;
    background-position: center;

}
.main-text > h1{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 70px;
line-height: 85px;

color: #FFFFFF;
}
.main-text{
    max-width: 628px;

}
.main-container{
    max-width: 1370px;
    margin: auto;
    padding-top: 94px;
    display: flex;
  position: relative;
}
.main-text > p{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 131.42%;
color: #FFFFFF;
margin-top: 20px;
padding-bottom: 63px;
}
.data > .nb{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    
    color: #FFFFFF;
    text-align: center;
}
.data-number{
    max-width: 631px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 63px;

}
.data{
    max-width: 164px;
    margin: auto;
}
.data> p{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 131.42%;
/* identical to box height, or 16px */
text-align: center;


color: #FFFFFF;
}
.main-phone{
    height: 730px;
    background-image: url(../image/phone.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 75px;
    top: 50px;
    background-position: center;
    max-width: 350px;
    width: 100%;
}
.elipse{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #FECC2D;
    margin: auto;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 17px;

color: #353535;
display: flex;
align-items: center;
justify-content: center;
}
.phone{
    max-width: 280px;
    margin: auto;
    margin-top: 50px;

}
.title-form{
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;

color: #353535;
text-align: center;
margin-top: 10px;
margin-bottom: 25px;
}
.form-item > p{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #353535;
margin-bottom: 15px;
}

.form-item > select{
    
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
background: url(../image/play.png) no-repeat right;
-webkit-appearance: none;
height: 20px;

color: #828282;
border: none;
width: 100%;
outline: none;
}
.form-item{
    border-bottom: 2px solid #A3A3A3;
padding-bottom: 10px;
margin-bottom: 15px;
}
.btn-item > p{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 132.02%;
/* or 16px */

text-align: center;

color: #828282;
}
.yell{
    background-color: #FECC2D;
    color: white;
    border: none;
    margin: 15px auto;
    cursor: pointer;
}
.btn-item {
    margin-top: 190px;

}

@media (max-width:1400px){
    .main-container{
        margin: auto 13px;

    }
}
@media (max-width:1200px){
    .main-phone{
        right: 0px;

    }
}

@media (max-width:1000px){
    .main-phone{
        position: unset;
    }
    .main-text > h1{
        font-size: 50px;
    }
    .data-number{
        flex-wrap: wrap;

    }
}

@media (max-width:800px){
   .main-container{
       flex-direction: column;
       align-items: center;
       padding-top: 30px;

   }
}


@media (max-width:600px){
    .main-text > h1{
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        
        color: #FFFFFF;
        }
        .data > .nb{
            font-size: 30px;
        }
        .main-text > p{
            padding-bottom: 25px;
        }
 }
 .phone{
     height: 592px;
     overflow: hidden;
 }

 .first-step{
     display: block;
 }
 [data-anim="show-from--right"]{
   
    display: block;

  }
  [data-anim="show-from--left"]{

    display: block;

  }
  [data-anim="hide-to--right"]{
   
    display: none;

  }
  [data-anim="hide-to--left"]{

    display: none;

  }

  .form-item > input{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;    
    color: #828282;
    height: 20px;
    width: 97%;
    border: none;
    outline: none;
  }
  .form-data{
      display: flex;
      align-items: center;
        justify-content: space-between;
    
    }
    .form-data > input{
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;    
        color: #828282;
        height: 20px;
        width: 49%;
        border: none;
        outline: none;
    }
.mntext{
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 132.02%;
/* identical to box height, or 16px */


color: #353535;
}
.nextbtn{
    margin-top: 25px;

}
.outline{
    margin: auto;
    margin-top: 4px;
    background: transparent;
    border-color: #fecc2d;
    border: 2px solid #fecc2d;
    color: #fecc2d;
    height: 40px;

}
.btn-back{
    cursor: pointer;
}
